<div class="container-page">
  <div infiniteScroll
       [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="100"
       (scrolled)="onScrollDown()">
    <!--/*##################################### FILTER #####################################*/-->
    <app-filters>
      <div nz-row nzGutter="24">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
          <nz-form-label nzFor="search">
            {{'FILTERS.CERCA_FILM' | translate}}
          </nz-form-label>
          <nz-input-group nzSearch
                          [nzAddOnAfter]="suffixIconButton">
            <input type="text"
                   nz-input
                   [placeholder]="'PLACEHOLDERS.RICERCA_UN_FILM' | translate"
                   [(ngModel)]="query"/>
          </nz-input-group>
          <ng-template #suffixIconButton>
            <button nzSearch
                    nz-button
                    nzType="primary"
                    [disabled]="!query"
                    (click)="movies = []; onQuerySearchChange(query)">
              <i class="icon" nz-icon nzType="search" nzTheme="outline"></i>
            </button>
            <button nzSearch
                    nz-button
                    nzDanger
                    nzType="primary"
                    [disabled]="!query"
                    (click)="onDeleteSearch()">
              <i class="icon" nz-icon nzType="delete"></i>
            </button>
          </ng-template>
        </div>
      </div>
    </app-filters>
    <!--/*##################################### END FILTER #####################################*/-->
    <!--/*##################################### LOADER #####################################*/-->
    <app-loader
      [loader]="loaderPage && loader">
    </app-loader>
    <!--/*##################################### END LOADER #####################################*/-->
    <!--/*##################################### EMPTY #####################################*/-->
    <app-empty
      [isVisible]="movies.length === 0 && !loaderPage && !loader"
      [description]="'MESSAGGI.NESSUN_DATO' | translate">
    </app-empty>
    <!--/*##################################### END EMPTY #####################################*/-->
    <!--/*##################################### CARD #####################################*/-->
    <div nz-row nzGutter="12">
      <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4"
              *ngFor="let movie of movies">
        <a [routerLink]="['/dashboard/movie-details/' + movie.id]" [queryParams]="{lang: lang}">
          <app-movie-card
            [loader]="loader"
            [movieDetails]="movie"
            [progressWidth]="progressWidth">
          </app-movie-card>
        </a>
      </nz-col>
    </div>
    <!--/*##################################### END CARD #####################################*/-->
  </div>
</div>
