.header {
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 1px solid var(--primaryColor);
  background-position: right -100px top;
  background-size: cover;
  background-repeat: no-repeat;
}

.default-background {
  width: 100%;
  height: auto;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, rgba(8.24%, 8.24%, 6.67%, 1.00) 150px, rgba(8.24%, 8.24%, 6.67%, 0.50) 100%);
}

.wrapper-col {
  margin: 20px;
}

.card-box {
  width: 100%;
  border-radius: 10px;
}

:host::ng-deep {
  .ant-progress-text {
    color: white;
    font-weight: bold;
    font-size: 30px;
  }

  .ant-card-head-title {
    font-size: 30px;
    font-weight: bold;
  }
}

