<!--/*##################################### HEADER #####################################*/-->
<div class="header"
     [ngStyle]="{'background-image': 'url(' + this.imageHeader + ')'}">
  <div class="default-background">
    <div nz-row nzGutter="24" nzAlign="middle" [nzJustify]="'center'">
      <div nz-col>
        <app-movie-card-details [movieDetails]="movieDetails" [loader]="loader"></app-movie-card-details>
      </div>
      <div class="wrapper-col" nz-col
           [ngStyle]="{'width': width + 'px'}" *ngIf="movieDetails && !loader">
        <h1>{{movieDetails.title}} ({{movieDetails.release_date | date: 'YYYY'}})</h1>
        <h2>{{genres}}</h2>
        <p>{{movieDetails.overview}}</p>
        <app-progress-bar
          [percent]="movieDetails.vote_average * 10"
          [width]="100"
          [color]="'green'">
        </app-progress-bar>
      </div>
      <nz-skeleton
        [nzLoading]="loader"
        [nzTitle]="true"
        [nzParagraph]="{ rows: 10, width: width}"
        [nzAvatar]="false"
        [nzActive]="true">
      </nz-skeleton>
    </div>
  </div>
</div>
<!--/*##################################### END HEADER #####################################*/-->
<!--/*##################################### CARD #####################################*/-->
<div class="container-page">
  <div nz-row>
    <nz-card class="card-box" nzTitle="Series Cast">
      <app-loader [loader]="loaderPage && loader"></app-loader>
      <app-empty [isVisible]="casts.length === 0 && !loaderPage && !loader"
                 [description]="'MESSAGGI.NESSUN_DATO' | translate"></app-empty>
      <div nz-row nzGutter="10">
        <div nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="2"
             *ngFor="let c of casts">
          <app-serie-cast-card
            [loader]="loader"
            [castDetails]="c">
          </app-serie-cast-card>
        </div>
      </div>
    </nz-card>
  </div>
</div>
<!--/*##################################### END CARD #####################################*/-->
