/* You can add global styles to this file, and also import other styles files */

html, body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*----------------PAGES------------------*/

.container-page {
  margin: 10px;
}

h1 {
  color: white;
  font-size: 35px;
  font-weight: bold;
}

h2 {
  color: white;
  font-size: 24px;
}

p {
  color: white;
  font-size: 24px;
}


/*----------------END PAGES------------------*/

/*----------------LOADER------------------*/

.ant-spin-lg .ant-spin-dot {
  font-size: 200px;
}

.ant-spin-lg .ant-spin-dot i {
  width: 100px;
  height: 100px;
}

/*----------------END LOADER------------------*/


.ant-empty {
  font-size: 30px;
  font-weight: bold;
}
