<div class="container-page">
  <!--/*##################################### FILTER #####################################*/-->
  <app-filters
    [page]="page"
    [pageSize]="pageSize"
    [totalResults]="totalResults"
    [sizePaginator]="sizePaginator"
    (onPageIndexChange)="onPageIndexChange($event)">
    <div nz-row nzGutter="24">
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
        <nz-form-label nzFor="search">
          {{'FILTERS.CERCA_FILM' | translate}}
        </nz-form-label>
        <nz-input-group nzSearch
                        [nzAddOnAfter]="suffixIconButton">
          <input type="text"
                 nz-input
                 [placeholder]="'PLACEHOLDERS.RICERCA_UN_FILM' | translate"
                 (keydown.enter)="onKeyDown($event)"
                 [(ngModel)]="query"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nzSearch
                  nz-button
                  nzType="primary"
                  [disabled]="!query"
                  (click)="goToSearchMoviePage(query)">
            <i class="icon" nz-icon nzType="search" nzTheme="outline"></i>
          </button>
          <button nzSearch
                  nz-button
                  nzDanger
                  nzType="primary"
                  [disabled]="!query"
                  (click)="query = ''; onSelectedChange(page);">
            <i class="icon" nz-icon nzType="delete"></i>
          </button>
        </ng-template>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
        <nz-form-label nzFor="data">
          {{'FILTERS.DATA_DI_USCITA' | translate}}
        </nz-form-label>
        <nz-select nzShowSearch nzAllowClear
                   [nzPlaceHolder]="'PLACEHOLDERS.SELEZIONA' | translate"
                   [(ngModel)]="selectedFilter"
                   [disabled]="disabledFilter()"
                   (ngModelChange)="onSelectedChange(page)">
          <nz-option [nzLabel]="'LABELS.CRESCENTE' | translate" nzValue="release_date.asc"></nz-option>
          <nz-option [nzLabel]="'LABELS.DECRESCENTE' | translate" nzValue="release_date.desc"></nz-option>
        </nz-select>
      </div>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="8" nzXl="8">
        <nz-form-label nzFor="popolarita">
          {{'FILTERS.POPOLARITA' | translate}}
        </nz-form-label>
        <nz-select nzShowSearch nzAllowClear
                   [nzPlaceHolder]="'PLACEHOLDERS.SELEZIONA' | translate"
                   [(ngModel)]="selectedFilter"
                   [disabled]="disabledFilter()"
                   (ngModelChange)="onSelectedChange(page)">
          <nz-option [nzLabel]="'LABELS.CRESCENTE' | translate" nzValue="popularity.asc"></nz-option>
          <nz-option [nzLabel]="'LABELS.DECRESCENTE' | translate" nzValue="popularity.desc"></nz-option>
        </nz-select>
      </div>
    </div>
  </app-filters>
  <!--/*##################################### END FILTER #####################################*/-->
  <!--/*##################################### LOADER #####################################*/-->
  <app-loader
    [loader]="loaderPage && loader">
  </app-loader>
  <!--/*##################################### END LOADER #####################################*/-->
  <!--/*##################################### EMPTY #####################################*/-->
  <app-empty
    [isVisible]="movies.length === 0 && !loaderPage"
    [description]="'MESSAGGI.NESSUN_DATO' | translate">
  </app-empty>
  <!--/*##################################### END EMPTY #####################################*/-->
  <!--/*##################################### CARD #####################################*/-->
  <div nz-row nzGutter="12">
    <nz-col nzXs="24" nzSm="12" nzMd="8" nzLg="6" nzXl="4"
            *ngFor="let movie of movies">
      <a [routerLink]="['movie-details/' + movie.id]" [queryParams]="{lang: lang}">
        <app-movie-card
          [loader]="loader"
          [movieDetails]="movie"
          [progressWidth]="progressWidth">
        </app-movie-card>
      </a>
    </nz-col>
  </div>
  <!--/*##################################### END CARD #####################################*/-->
</div>
