<nz-layout class="app-layout">
  <nz-header nz-row>
    <div class="main-toolbar-left" nz-col>
      <div [ngClass]="className">
        <a [routerLink]="['/']">Virtuoso Movie</a>
      </div>
    </div>
    <div class="main-toolbar-right">
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{lang | uppercase}}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item *ngFor="let l of languages" (click)="setLanguage(l)">{{l | uppercase}}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <div>Virtuoso Movie ©2021 Created By <a href="https://www.vincenzospinelli.it">Vincenzo Spinelli</a></div>
  </nz-footer>
</nz-layout>

