:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nz-header {
  padding: 48px;
  width: 100vw;
  height: 100px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nz-footer {
  width: 100vw;
  height: 100px;
  z-index: 2;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-xl-xxl-lg {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.logo-xs-sm-md {
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.app-layout {
  overflow-x: hidden;
}

nz-content {
  overflow: hidden;
  background: #e5ebf4;
}

.inner-content {
  height: 100%;
}

.main-toolbar-right {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-toolbar-left {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-dropdown-link {
  font-size: 16px;
}
